{%extends "base.html"%}{% block title %}User Page{%endblock%}
{% block content %}
<div class="container-fluid mt-2">
   <div class="container my-2">
      <div class="d-flex justify-content-center align-items-center">
          <h3>
             USER QUERIES
          </h3>
      </div>
      <hr>
  </div>
    <table class="table table-bordered">
       <thead>
          <tr>
             <th>Place</th>
             <th>Block</th>
             <th>Problem</th>
          </tr>
       </thead>
       <tbody>
         {% for report in user.reports %}
           <tr>
            <td>{{report.placeof}}</td>
            <td>{{report.blockof}}</td>
            <td>{{report.problem}}</td>            
           </tr>
         {% endfor %}
          </tr>
       </tbody>
    </table>
 </div>
 
 {% endblock %}